body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  background-color: #76b8de;
}

input {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  box-sizing: border-box;
  background-color: white;
  outline: none;
}

button {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 14px;
  box-sizing: border-box;
  cursor: pointer;
  color: white;
  background-color: #5d90ad;
  letter-spacing: 1px;
}

button:hover {
 background-color: #4e7992;
}

.addressFinderContainer {
  padding: 40px 10px;
}

.addressTableContainer {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.addressRowContainer {
  padding: 20px;
  border-top: 1px solid #ddd;
  text-align: center;
  font-size: 20px;
}

.latLongInputs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.latLongInputs .inputNormal {
  margin: 0 5px;

}

.addressInputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.addressInputs .inputNormal {
  margin-bottom: 10px;
}

.addressInputs input {
  max-width: 400px;
  width: 100%;
}

.centerBlock {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.mb20 {
  margin-bottom: 20px;
}
